<h1 *ngIf="myVar;else elseblock">We are now learning ng-Template</h1>

<ng-template [ngIf]="myVar">
  <h1>
    Education is very important to live a intellectual life!
  </h1>
</ng-template>
<ng-template #elseblock>
this is else part
</ng-template>

<br>

<div *ngFor="let dt of myData; let i = index">
index - {{i}} {{dt.age}} {{dt.name}} {{dt.city}}
</div>

<ng-template ngFor let-dt [ngforOf]="myData" let-i="index" >
  index - {{i}} {{dt.age}} {{dt.name}} {{dt.city}}

</ng-template>

<div class="container ">
  <div class="row">
   
    <div class="col-md-4 mx-auto">
      <app-course>
        <h5 class="card-title">JavaScript</h5>
      <a href="#" class="btn btn-primary">Read More...</a>
      </app-course>
     </div>

    <div class="col-md-4 mx-auto">
      <app-course>
      <h5 class="card-title">Python</h5>
      <a href="#" class="btn btn-primary">Read More...</a>

      </app-course>
     </div>

    <div class="col-md-4 mx-auto">
     <app-course>
      <h5 class="card-title">Angular</h5>
      <a href="#" class="btn btn-primary">Read More...</a>

     </app-course>
    </div>
  </div>
</div>
